

@{
    var customer = Context.User.FindFirst(System.Security.Claims.ClaimTypes.Name);
    if (customer != null && !string.IsNullOrEmpty(customer.Value))
    {
        <a href="#"><i class="fa fa-user"></i> @customer</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="login"><i class="fa fa-user"></i> Login</a>
    }
}