@model AccountView
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Employee</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminAccount" asp-action="Index">Account</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <form asp-area="Admin" asp-controller="AdminAccount" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Admin/images/Account/@(ViewBag.photo != null ? ViewBag.photo : "_MG_7022.jpg")" width="300" height="300" id="photoImg" />
                    <input type="file" value="Choose Image" class="form-control" name="photo" onchange="ChangeImg()" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="f-createEmp">
                        <label for="fullname">FullName:</label>
                        <input type="text" id="fullname" asp-for="FullName" placeholder="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="f-createEmp">
                        <label for="email">Email:</label>
                        <input type="text" id="email" asp-for="Email" placeholder="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="f-createEmp">
                        <label for="password">Password:</label>
                        <input type="text" id="password" asp-for="Password" placeholder="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="f-createEmp">
                        <label for="confirmpassword">Confirm Password:</label>
                        <input type="text" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="submit" class="form-control btn btn-secondary" value="Create" />
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
</section>

@section AdminScript{

    @if (ViewBag.result != null && ViewBag.result == 1)
    {
        <script>
            alertSuccess('Create Employee Success');
        </script>
    }
    else if (ViewBag.result != null && ViewBag.result == 0)
    {
        <script>
            alertError('Create Employee fail. Check again!!');
        </script>
    }
}

